.timepicker{
  text-align: center;
}

.userinfo{
  background: white;
  padding: 7px;
  margin-left: 0 !important;

}
.address_info{
  margin-top: 0 !important;
}

.list_item{
  width: 98%;
  margin: 0 auto;
}