.nut-navbar{
    margin-bottom: 0px;
}

.nut-searchbar {
    --nutui-searchbar-input-height: 40px;
}

.listIndex {
    display: flex;
    flex-direction: column;

}
.listItem {
    padding: 10px;
    height: 150px;
    background: #ffffff;
    margin-bottom: 10px;
}

.userinfo {
    display: flex;
    flex-direction: row;
    height: 70px;
}
img{
    height: 100%;
}
.info_left{
    display: flex;
    flex-direction: row;
}
.left_info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.left_info div {
    display: flex;
    height: 47%;
    align-items: flex-end;
}

body {
    background: #f4f4f4;
}

div {
    height: auto;
}

.user_detail{
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
}

.user_detail div{
    width: 33.33%;
    color: #808080;
}
.user_detail span {
    background: #f4f4f4;
    padding: 4px;
    font-size: 14px;
    color: #808080
}

.info_right {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center
}

.info_right button{
    margin-right: 20px;

}
